{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Aqours Online Judge - Contests
{% endblock %}

{% block container %}
<div><a href="/ContestList">返回到比赛列表页面</a></div>
<table class="table">
    <thead>
    <tr>
        <th>Rank</th>
        <th>Username</th>
        <th>Accepted</th>
        <th>Time Used</th>
    </tr>
    </thead>

    <tbody>
    {% for i in context_ls %}
        <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.0 }}</td>
        <td>{{ i.1 }}</td>
        <td>{{ i.2 }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}