{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Aqours Online Judge - Contests
{% endblock %}

{% block container %}
<div class="row">
    <div class="col-sm-12">
        <table class="table" style="opacity: 0.8">
            <thead>
            <tr>
                <th>Contest ID</th>
                <th>Contest Name</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Active</th>
                <th>Private</th>
            </tr>
            </thead>
            <tbody>
            {% for contest in contest_list.all %}
                {% if not contest.is_private %}
                    {% if contest.is_active %}
                        <tr class="success">
                            <td>{{ contest.contest_id }}</td>
                            <td><a href="/Contest/{{ contest.contest_id }}">{{ contest.title }}</a></td>
                            <td>{{ contest.start_time }}</td>
                            <td>{{ contest.end_time }}</td>
                            <td>{{ contest.is_active }}</td>
                            <td>{{ contest.is_private }}</td>
                        </tr>
                    {% else %}
                        <tr class="active">
                            <td>{{ contest.contest_id }}</td>
                            <td>{{ contest.title }}</td>
                            <td>{{ contest.start_time }}</td>
                            <td>{{ contest.end_time }}</td>
                            <td>{{ contest.is_active }}</td>
                            <td>{{ contest.is_private }}</td>
                        </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block extracss %}
<link href="{% static 'judger/css/ContestList.css' %}" rel="stylesheet">
{% endblock %}