{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Aqours Online Judge - Problems
{% endblock %}

{% block container %}
<div class="jumbotron">
    <h1>{{ problem_id }}. {{ title }}</h1>
    <br/><p>Time Limit: {{ time_limit }} MS</p>
    <p>Memory Limit: {{ memory_limit }} MB</p>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>Problem Description:</h3>
        <blockquote>{{ description|linebreaksbr }}</blockquote>
        <h3>Input Format:</h3>
        <blockquote>{{ input_format|linebreaksbr }}</blockquote>
        <h3>Output Format:</h3>
        <blockquote>{{ output_format|linebreaksbr }}</blockquote>
        <h3>Sample Input:</h3>
        <blockquote>{{ sample_input|linebreaksbr }}</blockquote>
        <h3>Sample Output:</h3>
        <blockquote>{{ sample_output|linebreaksbr }}</blockquote>
        <h3>Range and Hint:</h3>
        <blockquote>{{ range_and_hint|linebreaksbr }}</blockquote>
        <h3>Your Code:</h3>
        <form action="{% url 'submit_code' problem_id %}" method="post">
            {% csrf_token %}
            <div class="col-sm-2">
                <p> <select class="form-control" name="language">
                    <option value="cpp"> c++ </option>
                    <option value="python3"> python 3 </option>
                    <option value="java"> java </option>
                </select> </p>
            </div>
            <div class="col-sm-12">
                <p><textarea id="code" name="code" class="form-control" rows="28"></textarea></p>
            </div>
            <div class="col-sm-12">
                <button class="btn btn-primary" type="submit">交付评测</button>
            </div>
            <div class="col-sm-12">
                <br/>
                <a href="/ProblemSet"> 回到题目列表 </a> </p>
                <a href="/JudgeHome"> 回到主页 </a> </p>
                <br/>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block extracss %}
<link href="{% static 'judger/css/Problem.css' %}" rel="stylesheet">
{% endblock %}