{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Aqours Online Judge - Ranking
{% endblock %}

{% block container %}
<table class="table">
    <thead>
    <tr>
        <th>Rank</th>
        <th>Username</th>
        <th>Accepted</th>
    </tr>
    </thead>

    <tbody>
    {% for i in user_ls %}
        <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.username }}</td>
        <td>{{ i.ac_count }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block extracss %}
<link href="{% static 'judger/css/Ranking.css' %}" rel="stylesheet">
{% endblock %}
