{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Aqours Online Judge - Status
{% endblock %}

{% block container %}
<table class="table" style="opacity: 0.8">

    <thead>
    <tr>
        <th>Submission Time</th>
        <th>Problem</th>
        <th>User</th>
        <th>Language</th>
        <th>Status</th>
        <th>Exec Time</th>
        <th>Memory</th>
    </tr>
    </thead>

    <tbody>
        {% for code in code_list %}
            {% if code.AC %}
                <tr class="success">
                    <td>{{ code.submit_time }}</td>
                    <td>{{ code.problem }}</td>
                    <td>{{ code.postman }}</td>
                    <td>{{ code.language }}</td>
                    <td><span class="glyphicon glyphicon-ok"></span>  ACCEPTED</td>
                    <td>{{ code.time_used }}</td>
                    <td>{{ code.memory_used }}</td>
                </tr>
            {% endif %}

            {% if code.WA %}
                <tr class="danger">
                    <td>{{ code.submit_time }}</td>
                    <td>{{ code.problem }}</td>
                    <td>{{ code.postman }}</td>
                    <td>{{ code.language }}</td>
                    <td><span class="glyphicon glyphicon-remove"></span>  WRONG ANSWER</td>
                    <td>{{ code.time_used }}</td>
                    <td>{{ code.memory_used }}</td>
                </tr>
            {% endif %}

            {% if code.TLE %}
                <tr class="warning">
                    <td>{{ code.submit_time }}</td>
                    <td>{{ code.problem }}</td>
                    <td>{{ code.postman }}</td>
                    <td>{{ code.language }}</td>
                    <td><span class="glyphicon glyphicon-time"></span>  TIME LIMIT EXCEEDED</td>
                    <td>{{ code.time_used }}</td>
                    <td>{{ code.memory_used }}</td>
                </tr>
            {% endif %}

            {% if code.MLE %}
                <tr class="warning">
                    <td>{{ code.submit_time }}</td>
                    <td>{{ code.problem }}</td>
                    <td>{{ code.postman }}</td>
                    <td>{{ code.language }}</td>
                    <td><span class="glyphicon glyphicon-edit"></span>  MEMORY LIMIT EXCEEDED</td>
                    <td>{{ code.time_used }}</td>
                    <td>{{ code.memory_used }}</td>
                </tr>
            {% endif %}

            {% if code.CE %}
                <tr class="info">
                    <td>{{ code.submit_time }}</td>
                    <td>{{ code.problem }}</td>
                    <td>{{ code.postman }}</td>
                    <td>{{ code.language }}</td>
                    <td><span class="glyphicon glyphicon glyphicon-console"></span>  COMPILE ERROR</td>
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>
            {% endif %}

            {% if code.RE %}
                <tr class="warning">
                    <td>{{ code.submit_time }}</td>
                    <td>{{ code.problem }}</td>
                    <td>{{ code.postman }}</td>
                    <td>{{ code.language }}</td>
                    <td><span class="glyphicon glyphicon-wrench"></span>  RUNTIME ERROR</td>
                    <td>{{ code.time_used }}</td>
                    <td>{{ code.memory_used }}</td>
                </tr>
            {% endif %}

            {% if code.PE %}
                <tr class="warning">
                    <td>{{ code.submit_time }}</td>
                    <td>{{ code.problem }}</td>
                    <td>{{ code.postman }}</td>
                    <td>{{ code.language }}</td>
                    <td><span class="glyphicon glyphicon-print"></span>  PRESENTATION ERROR</td>
                    <td>{{ code.time_used }}</td>
                    <td>{{ code.memory_used }}</td>
                </tr>
            {% endif %}

            {% if code.OLE %}
                <tr class="warning">
                    <td>{{ code.submit_time }}</td>
                    <td>{{ code.problem }}</td>
                    <td>{{ code.postman }}</td>
                    <td>{{ code.language }}</td>
                    <td><span class="glyphicon glyphicon-file"></span>  OUTPUT LIMIT EXCEEDED</td>
                    <td>{{ code.time_used }}</td>
                    <td>{{ code.memory_used }}</td>
                </tr>
            {% endif %}

            {% if code.RF %}
                <tr class="danger">
                    <td>{{ code.submit_time }}</td>
                    <td>{{ code.problem }}</td>
                    <td>{{ code.postman }}</td>
                    <td>{{ code.language }}</td>
                    <td><span class="glyphicon glyphicon-stop"></span>  RESTRICTED FUNCTION</td>
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>
            {% endif %}

            {% if code.SE %}
                <tr class="danger">
                    <td>{{ code.submit_time }}</td>
                    <td>{{ code.problem }}</td>
                    <td>{{ code.postman }}</td>
                    <td>{{ code.language }}</td>
                    <td><span class="glyphicon glyphicon-off"></span>  SYSTEM ERROR</td>
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>
            {% endif %}

            {% if code.WJ %}
                <tr class="active">
                    <td>{{ code.submit_time }}</td>
                    <td>{{ code.problem }}</td>
                    <td>{{ code.postman }}</td>
                    <td>{{ code.language }}</td>
                    <td><span class="glyphicon glyphicon glyphicon-hourglass"></span>  JUDGING</td>
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}